[Unit]
Description=xrdp daemon
Requires=xrdp-sesman.service
After=syslog.target network.target xrdp-sesman.service

[Service]
Type=forking
PIDFile=/var/run/xrdp.pid
ExecStart=/usr/bin/xrdp
ExecStop=/usr/bin/xrdp --kill

[Install]
WantedBy=multi-user.target
